<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/createEmplyee.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../Script/updateEmployee.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="mainDiv">
        <header class="header">
            <div class="logo">
                <img src="../assets/logo.png">
                <div>
                    <span class="emp-text">EMPLOYEE</span><br> 
                    <span class="emp-text emp-payroll">PAYROLL</span>
                </div>
            </div>
        </header>
        <!-- Employee Payroll Form -->
        <div class="form-content">
            <form class="form" onsubmit="updateEmp();return false">
                <div class="heading">Employee Payroll Form</div>

                <!-- Name -->
                <div class="rowDiv">
                    <label class="label" for="name">Name </label>
                    <input class="inputBox1" id="name" type="text" name="fname" placeholder="Type your name here"
                        required />
                    <span class="formError"></span>
                </div>
                <!-- Profile Pic -->
                <div class="rowDiv">
                    <label class="label" for="profile">Profile image</label>
                    <div class="profileRadio">
                        <label>
                            <input type="radio" value="../assets/profile1.png" id="profile1" name="profile"
                                placeholder="img" required>
                            <img class="profile" id="image1" src="../assets/profile1.png" alt="">
                        </label>
                        <label>
                            <input type="radio" value="../assets/profile2.png" id="profile2" name="profile"
                                placeholder="img" required>
                            <img class="profile" id="image2" src="../assets/profile2.png" alt="">
                        </label>
                        <label>
                            <input type="radio" value="../assets/profile3.png" id="profile3" name="profile"
                                placeholder="img" required>
                            <img class="profile" id="image3" src="../assets/profile3.png" alt="">
                        </label>
                        <label>
                            <input type="radio" value="../assets/profile4.png" id="profile4" name="profile"
                                placeholder="img" required>
                            <img class="profile" id="image4" src="../assets/profile4.png" alt="">
                        </label>
                    </div>
                </div>
                <!-- Gender -->
                <div class="rowDiv">
                    <label class="label" for="gender">Gender</label>
                    <div>
                        <input type="radio" name="gender" id="Male" value="Male">
                        <label class="radioLabel" for="Male">Male</label>
                        <input type="radio" name="gender" id="Female" value="Female">
                        <label class="radioLabel" for="Female">Female</label>
                    </div>
                </div>
                <!-- Department -->
                <div class="rowDiv">
                    <label class="label" for="department">Department</label>
                    <div class="checkdiv">
                        <input type="checkbox" id="hr" name="department" value="HR">
                        <label class="check" for="hr">HR</label>
                        <input type="checkbox" id="sales" name="department" value="SALES">
                        <label class="check" for="sales">SALES</label>
                        <input type="checkbox" id="finance" name="department" value="FINANCE">
                        <label class="check" for="finance">FINANCE</label>
                        <input type="checkbox" id="engineering" name="department" value="ENGINEERING">
                        <label class="check" for="engineering">ENGINEER</label>
                        <input type="checkbox" id="others" name="department" value="OTHERS">
                        <label class="check" for="others">OTHERS</label>
                    </div>
                </div>
                <!-- Salary -->
                <div class="rowDiv">
                    <label class="label" for="salary">Choose your salary</label>
                    <select class="dropdown-select" name="salary" id="salary">
                        <option value="" disabled selected>Select Salary</option>
                        <option value="10000">10000</option>
                        <option value="20000">20000</option>
                        <option value="30000">30000</option>
                        <option value="40000">40000</option>
                        <option value="50000">50000</option>
                        <option value="60000">60000</option>
                        <option value="70000">70000</option>
                        <option value="80000">80000</option>
                        <option value="90000">90000</option>
                        <option value="100000">100000</option>
                    </select>
                </div>

                <!-- Start date -->
                <div class="rowDiv">
                    <label class="label" for="startDate"> Start Date </label>
                    <select id="day" name="date" class="dropdown-select1">
                        <option value="" disabled selected>Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <select id="month" name="month" class="dropdown-select1">
                        <option value="" disabled selected>Month</option>
                        <option value="Jan">January</option>
                        <option value="Feb">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="Aug">August</option>
                        <option value="Sept">September</option>
                        <option value="Oct">October</option>
                        <option value="Nov">November</option>
                        <option value="Dec">December</option>
                    </select>
                    <select id="year" name="year" class="dropdown-select1">
                        <option value="" disabled selected>Year</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                    </select>
                </div>
                <!-- Note -->
                <div class="rowDiv">
                    <label class="label" for="notes">Notes</label>
                    <textarea id="notes" class="inputBox" id="notes" name="Notes" placeholder=""
                        style="height: 70px;"></textarea>
                </div>
                <!-- Buttons -->
                <div class="buttonParent">
                    <a href="../View/dashboard.html" class="resetButton button cancelButton">Cancel</a>
                    <!-- <button class="button cancelButton">Cancel</a></button> -->
                    <div class="submit-reset">
                        <button type="submit" class="button submitButton" id="submitButton" onclick="updateEmp()">Submit</button>
                        <button type="reset" class="button resetButton ">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>